.col img {
    width: 200px; /* กำหนดความกว้าง */
    height: 200px; /* ความสูงอัตโนมัติ เพื่อให้สัดส่วนไม่ผิดเพี้ยน */
}
.col{
    font-size: 24px;
    border-left: 4px solid #439c62; /* เส้นขีดด้านซ้าย */

}

